<!-- Вынести кнопку в отдельный компонент -->
<button class="back-btn" (click)="backToTopPage()">Назад к списку</button>

<div class="detail-layout">
  <app-film-card [film]="film()" [state]="state()" />

  <app-film-actors
    (actorClick)="goToActor($event)"
    [staff]="staff()" (viewAll)="goToCast()"
    (actorClick)="goToActor($event)"
  />
</div>

@if (film()) {
  @defer (when film() !== null) {
    <app-film-recommended [recommendedFilms]="recommendedFilms()" [state]="recommendedState()"/>
  }
}
<!-- FilmReviews — отзывы-->

