<button class="back-btn" (click)="backToTopPage()">Назад к списку</button>
<app-film-card [film]="film()" [state]="state()"></app-film-card>

@defer (on viewport) {
  <app-film-recommended [filmId]="film()!.kinopoiskId" />
} @placeholder {
  <div class="placeholder-block">
    <p>Рекомендации появятся здесь</p>
  </div>
} @loading {
  <div class="loading-block">
    <p>Загружаем рекомендации...</p>
  </div>
}
<!-- Добавим:
FilmRecommended — рекомендации / похожие фильмы
FilmReviews — отзывы
FilmActors — актёры -->

